<?xml version="1.0"?>
<launch>
  <arg name="hardware_interface" default="PositionJointInterface"/> 
  <arg name="robot_name" default="panda"/>
  <arg name="load_gripper" default="true" /> <!-- decide between robot descript./ld gripper-->
  <arg name="xyz" default="0 0 0" /> <!-- this is different than in iiwa and maybe can be removed-->
  <arg name="rpy" default="0 0 0" /> <!-- this is different than in iiwa-->

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda.urdf.xacro' connected_to:='world' hardware_interface:='$(arg hardware_interface)' xyz:='$(arg xyz)' rpy:='$(arg rpy)'" if="$(arg load_gripper)" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm.urdf.xacro' connected_to:='world' hardware_interface:='$(arg hardware_interface)' xyz:='$(arg xyz)' rpy:='$(arg rpy)'" unless="$(arg load_gripper)" />

<!-- different than in iiwa: -->

 <!-- Start script that provides the action interface needed by moveIt to control the gripper
  <node name="franka_gripper" pkg="franka_gazebo" type="gripper_action_server.py" respawn="false" output="screen" args="" if="$(arg load_gripper)"/> -->


 <!-- Gripper STuff from original franka_control.launch: -->
  <!-- <arg name="sim" default="false" />
  <arg name="robot_ip" unless="$(arg sim)" /> -->
  <arg name="robot_ip" default="172.16.0.2"/>
<!-- 
  <include file="$(find franka_gripper)/launch/franka_gripper.launch" if="$(arg load_gripper)">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
-->

</launch> 
